.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.heading-log {
    width: 50px;
    height: 50px;
}

.points {
    display: flex;
    justify-content: space-evenly;
}

.point {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-footer .button {
    padding: 4px 30px;
    border: 1px solid #888;
    border-radius: 10px;
}