.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
}

.Header {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.Header .header-log {
  display: flex;
  width: 10vw;
  justify-content: space-evenly;
  padding-top: 12px;
}

.Header .header-log img {
  height: 6vh;
}

.header-nav {
  display: flex;
  width: 30vw;
  justify-content: start;
}

.header-nav .nav-bar {
  display: flex;
  width: 22vw;
  justify-content: space-evenly;
}

.header-nav .nav-bar>h3 {
  display: inline;
}

.header-nav .nav-bar>h3:hover {
  cursor: pointer;
}

.header-nav .nav-profile {
  padding-top: 15px;
}

.header-nav .nav-profile:hover {
  cursor: pointer;
}

.profile {
  border: 2px solid rgb(60, 116, 237);
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 13px;
}


.profile-icon {
  color: rgb(60, 116, 237) !important;
}